@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  list-style: none;
}

.navbar {
  background-color: #5c2377;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.active .nav-link {
  text-decoration: underline;
}

.product-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product-cards_no-wrap {
  flex-wrap: nowrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  padding: 20px;
  position: relative;
  float: left;
  width: 230px;
  height: 425px;
  word-wrap: break-word;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-card img {
  margin: auto;
}

.product-card:hover {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.24);
}

.offer {
  position: absolute;
  color: #fff;
  top: 5px;
  left: 5px;
  z-index: 10;
  text-transform: uppercase;
}

.card-image_flex-card,
.product-price_flex-card {
  display: flex;
  flex-direction: column;
}

.offer > div {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 3px;
  /* font-weight: bold; */
  font-size: 20px;
}

.offer-hit,
.offer-sale {
  background-color: #3a174a;
}

.card-thumb {
  height: 150px;
  text-align: center;
}

.card-thumb img {
  max-height: 150px;
}

.card-caption {
  margin-top: 20px;
}

.card-title {
  height: 70px;
  overflow: hidden;
}

.card-title a {
  color: #354751;
}

.card-price {
  font-size: 24px;
  margin-bottom: 5px;
}

.card-price_lrg {
  font-size: 28px;
}

.card-price > del,
.product-buy > del {
  position: absolute;
  top: 265px;
  font-size: 20px;
}

.cart-modal img {
  max-height: 50px;
}

.product-item-thumb {
  padding: 20px;
  border-radius: 4px;
}

.product-item-thumb img {
  max-height: 500px;
}

.user_info__article {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.btn {
  color: #fff;
  background-color: #3a174a;
  border: 2px solid #3a174a;
}

.btn-check_out a {
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}

.btn-check_out_wide {
  align-self: center;
  width: 100%;
  padding: 10px;
}

.checkout__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.checkout__form input {
  border-radius: 0px;
  padding: 20px;
  width: 100%;
  vertical-align: middle;
  outline: transparent;
  border: none;
  border-bottom: 1.5px solid #5c2377;
}

.checkout__form input:hover {
  transition: all 0.3s;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.checkout__form input:focus {
  border-radius: 10px;
  transition: all 0.3s;
  outline: 2px #5c2377 solid;
  border-bottom: none;
}

.checkout__form input:focus::placeholder {
  color: #b1b1b1;
}

tbody img {
  margin: auto;
  max-width: 100px;
  max-height: 100px;
}

.add-to-cart {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.link {
  color: #3a174a;
}

.flex__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 350px;
}

.flex__container_col {
  flex-direction: column;
}

.flex__item-1 {
  display: flex;
  flex-direction: column;
}

.w100{
  width: 100%;
}

.flex__item-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: baseline;
}

.personal_offers__btn {
  max-width: 125px;
}

.add-to-cart:hover,
.btn-check_out:hover,
.sign-up_form button:hover,
.personal_offers__btn:hover {
  background-color: #5c2377;
  color: #fff;
  border: 2px solid #5c2377;
}

.btn-close_cart:hover {
  border: 2px solid #929292;
  background-color: #929292;
  color: #fff;
}

.table thead th {
  border-top: none;
  padding-top: 10px;
  font-weight: normal;
}

.table a {
  color: #000;
  text-decoration: none;
}

.table a:hover,
.link:hover {
  color: #5c2377;
}

#get-cart:hover,
.search-btn:hover {
  color: #fff;
  background-color: transparent;
  border: 2px solid #3a174a;
}

.pagination {
  gap: 10px;
  border-radius: 10px;
}

.pagination a {
  color: #5c2377;
}

.pagination .page-item {
  border-radius: 10px;
  border: 2px solid #5c2377;
}

.pagination .page-item_active {
  background-color: #5c2377;
}

.pagination .page-item_active a {
  color: #fff;
}

.page-link {
  background-color: transparent;
  border: none;
}

.account-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-link:hover {
  border: none;
  background-color: transparent;
}

.footer_main {
  background-color: #5c2377;
}

.footer_inner {
  padding: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer__nav .nav__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer__item {
  font-size: 16px;
  padding: 20px;
}

.footer__item .footer__nav {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.footer__nav .nav__link:hover {
  color: #fff;
}

.footer_social-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer_social-icons i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 32px;
}

.footer_social-icons i:hover {
  color: #fff;
  cursor: pointer;
}

.copyright,
.copyright__text {
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  text-align: center;
}

.user .logout_link {
  color: #3a174a;
  margin-left: 18px;
}

/* Forms */
.sign-up_form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  margin: auto;
  width: 250px;
  height: auto;
  padding: 20px;
}
.sign-up_form .form-element {
  margin-bottom: 25px;
}

.sign-up_form button {
  font-size: 20px;
  width: 215px;
  padding: 10px;
  border-radius: 10px;
}

.sign-up_form input {
  padding: 10px;
}

.form__link-list {
  display: flex;
  align-items: center;
  gap: 15px;
}
.form__link-list .list__item a {
  text-decoration: none;
  color: rgba(109, 109, 109, 0.7);
}

.form__link-list .list__item a:hover {
  transition: 0.4s;
  color: #5c2377;
}

.copyright .copyright__text {
  padding-bottom: 20px;
}

#get-cart,
.form-inline button,
.form-inline input {
  border-radius: 10px;
}

.form-inline input::placeholder {
  color: #bebebe;
}

/* Slider - NodeJS */
.slider {
  background-color: transparent;
  overflow: hidden;
  display: flex;
  width: auto;
  height: 500px;
  margin: 0;
}

.slider-small {
  display: flex;
  margin-bottom: 60px;
  width: auto;
  height: 440px;
}

/* Slider-arrows */
.slick-prev {
  z-index: 1;
  top: 30%;
  left: 0;
  margin-left: 16.5vw;
}

.slick-next::before,
.slick-prev::before {
  font-size: 64px;
  color: #bebebe;
}

.slick-next {
  z-index: 1;
  top: 30%;
  right: 0;
  margin-right: 18vw;
  content: "\f054";
}

.slick-next::before,
.slick-prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.slick-next::before {
  content: "\f054";
}

.slick-prev::before {
  content: "\f053";
}

/* misc-media */
@media (max-width: 991px) {
  #get-cart {
    margin-bottom: 10px;
  }

  .flex__container {
    flex-wrap: wrap-reverse;
    gap: 2rem;
  }

  .navbar {
    -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.95) inset;
    -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.95) inset;
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.95) inset;
  }
}

@media (max-width: 575px) {
    .form-inline {
        gap: 10px;
    }

    .container, .container-sm {
        max-width:410px;
     }
    
    h1,h2,h3{
        text-align:left;
    } 
}

@media (max-width: 430px) {
    .container, .container-sm {
        max-width:320px;
     }
}

@media (max-width: 380px){
    .container, .container-sm {
        max-width:290px;
     }
}
